$main-color : #2F3136;
$second-color : #4b4b4b;
$color-theme: #ecca31;
$color-theme-bis: #78e08f;
$color-border-post: #1C1D1E;
$color-white: #F3F1F2;
$flames-color: #E9822C;



.noir {
    background-color: #2d3436;
  }
  .anthracite{
      background-color: #636e72;
  }
  .bleu-claire {
    background-color: #81ecec;
  }
  .beige{
      background-color: #fdcb6e;
  }
  .kaki{
      background-color: #006266;
  }
  .white{
      background-color: #ecf0f1;
  }
  .yellow{
      background-color: #f6e58d;
  }
  .rouge{
    background-color: #c23616;
  }
  .blue{
    background-color: #1e3799;
  }
  .blue-white{
    background: rgb(30, 55, 153);
    background: linear-gradient(90deg, rgba(30,55,153,1) 0%, rgba(236,240,241,1) 100%);
  }

