<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../scss/style.css">
    <script src="https://kit.fontawesome.com/c4bc4d21b1.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <title>Le petit commerce</title>
</head>

<body>
    <header>

               <!-- Start Mobile Nav -->

               <div class="site-nav">
                <div class="container">
                    <div class="navbar-mobile">
                        <a class="logo-container" href="index.html">Lpc</a>
                        <form class="searchbar">
                            <a href="#" class="search-button"><i class="fas fa-search"></i></a>
                            <a href="mes-favoris.html" class="favori-button"><i class="fas fa-heart"></i></a>
                            <a href="mon-profil.html" class="user-button"><i class="fas fa-user"></i></a>
                            <a href="mon-panier.html" class="panier-button"><i class="fas fa-shopping-basket"></i></a>
                        </form>
                        <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-ex1-collapse">
                            <div class="close">X</div>
                            <span class="icon-bar bar-1"></span>
                            <span class="icon-bar bar-2"></span>
                            <span class="icon-bar bar-3"></span>
                        </button>
                        
                    </div>
    
                    <nav class="[ collapse navbar-collapse navbar-ex1-collapse ]">
                        <ul class='navbar'>
                            <li><a href="index.html">Accueil</a></li>
                            <li class="boutique-menu-mobile-hover"><p>Femme</p>
                                <ul class="boutique-menu-mobile">
                                    <li><a href="../layouts/women.html">Accueil</a>
                                    <li><a href="manteaux-women.html">Manteaux</a></li>
                                    <li><a href="jupes-women.html">Jupes</a></li>
                                    <li><a href="tshirts-women.html">T-shirts</a></li>
                                    <li><a href="robes-women.html">Robes</a></li>
                                    <li><a href="accesoires-women.html">Accessoires</a></li>
                                    <li><a href="chaussures-women.html">Chaussures</a></li>
                                </ul>
                            </li>
                            <li class="boutique-menu-mobile-hover1"><p>Homme</p>
                                <ul class="boutique-menu-mobile1">
                                    <li><a href="../layouts/men.html">Accueil</a>
                                    <li><a href="manteaux-men.html">Manteaux</a></li>
                                    <li><a href="pantalons-men.html">Pantalons</a></li>
                                    <li><a href="pulls-men.html">Pulls</a></li>
                                    <li><a href="tshirts-men.html">T-shirts</a></li>
                                    <li><a href="accesoires-men.html">Accessoires</a></li>
                                    <li><a href="chaussures-men.html">Chaussures</a></li>
                                </ul>
                            </li>
                            <li class="boutique-menu-mobile-hover2"><p>La Boutique</p>
                                <ul class="boutique-menu-mobile2">
                                    <li><a href="qui-sommes-nous.html">Qui sommes nous ?</a></li>
                                    <li><a href="nous-contacter.html">Contact</a></li>
                                    <li><a href="recrutement.html">Recrutement</a></li>
                                    <li><a href="event.html">Evénements</a></li>
                                    <li><a href="localisation.html">Localisation</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
    
                </div>
            </div>
            <!--- end  Mobile nav -->
        <nav class="nav-desktop">
            <div class="navbar-calibration">
                <a class="logo-container" href="index.html">Lpc</a>
                <div class="fixbar"></div>
                <ul class="nav-women"><a class="a-women" href="../layouts/women.html">Femme</a>
                    <li><a href="manteaux-women.html">Manteaux</a></li>
                    <li><a href="jupes-women.html">Jupes</a></li>
                    <li><a href="tshirts-women.html">T-shirts</a></li>
                    <li><a href="robes-women.html">Robes</a></li>
                    <li><a href="accesoires-women.html">Accessoires</a></li>
                    <li><a href="chaussures-women.html">Chaussures</a></li>
                </ul>
                <ul class="nav-men"><a class="a-men" href="../layouts/men.html">Homme</a>
                    <li><a href="manteaux-men.html">Manteaux</a></li>
                    <li><a href="pantalons-men.html">Pantalons</a></li>
                    <li><a href="pulls-men.html">Pulls</a></li>
                    <li><a href="tshirts-men.html">T-shirts</a></li>
                    <li><a href="accesoires-men.html">Accessoires</a></li>
                    <li><a href="chaussures-men.html">Chaussures</a></li>
                </ul>
                <ul class="nav-boutique"><a class="mag-button" href="#">La boutique</a>
                    <li><a href="qui-sommes-nous.html">Qui sommes nous ?</a></li>
                    <li><a href="nous-contacter.html">Contact</a></li>
                    <li><a href="recrutement.html">Recrutement</a></li>
                    <li><a href="event.html">Evénements</a></li>
                    <li><a href="localisation.html">Localisation</a></li>
                </ul>
                <form class="searchbar">
                    <input class="search-text" type="text" placeholder="Search..." />
                    <a href="#" class="search-button"><i class="fas fa-search"></i></a>
                    <div class="container-icone-navbar">
                    <a href="mes-favoris.html" class="favori-button"><i class="fas fa-heart"></i></a>
                    <a href="mon-profil.html" class="user-button"><i class="fas fa-user"></i></a>
                    <a href="mon-panier.html" class="panier-button"><i class="fas fa-shopping-basket"></i></a>
                    </div>
                </form>
            </div>
        </nav>


    </header>

    <div class="title-page-personal-shopper">
        <h2>Candidature</h2>
    </div>

    <div class="form-container-recrutement">
        <form>

            <input name="name" type="text" class="name-input" placeholder="Entrez votre nom" />

            <input name="forname" type="text" id="calendar-input" placeholder="Entrez votre prénom" />

            <input name="email" type="email" class="mail-input" placeholder="Entrez votre mail" />

            <input name="enterprise" type="text" class="enterprise-input" placeholder="Entrez le nom de votre entreprise" />
            
            <textarea name="text" class="comment-input" placeholder="Ecrivez votre lettre de motivation ici ..."></textarea>

            <label for="cv-file">Joindre CV</label>

            <input name="cv-file" type="file" class="cv-file-input"/>

            <div class="submit">
                <button type="submit" value="SEND" class="personal-shopper-button">Envoyer</button>
            </div>

        </form>

    </div>


    <div class="social-container">
        <ul class="social-icons">
            <li><a href="#" class="social-square"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="#" class="social-square"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#" class="social-square"><i class="fab fa-twitter"></i></a></li>
        </ul>
    </div>
    <footer>
        <div class="newsletter-container">
            <form action="" class="newsletter">
                <input type="text" placeholder="Newsletter - entrez votre mail">
                <button>Abonnez vous</button>
            </form>
        </div>

        <ul class="footer-menu">
            <li>
                <a class="contact-button" href="contact.html">contact</a>
            </li>
            <li>
                <a class="mention-button" href="mentions.html">mentions légales</a>
            </li>
            <li>
                <a class="cdgv-button" href="cgv.html">cgv</a>
            </li>

        </ul>
        <div class="multilingue-container" id="trad">FR</div>
        <div title="Haut de page" class="back-top-button" id="up"><i class="far fa-arrow-alt-circle-up"></i></div>
    </footer>

    <script src="../Js/script.js"></script>
</body>

</html>